html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  // font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.68;
  color: $default;
  overflow-x: hidden;
  position: relative;

  &::before {
    @extend %pseudo;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba($title, .9);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  &.lock {
    overflow-y: hidden;

    &::before {
      z-index: 4;
      opacity: 1;
      visibility: visible;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  @extend %title-font;
  font-size: 36px;
  line-height: 1.4;
  color: $title;
  text-align: center;
}

.slick-dots {
  display: flex;
  justify-content: center;
  gap: 30px;

  li.slick-active {
    button {
      background-color: #ffef35;
    }
  }

  button {
    font-size: 0;
    border-radius: 50%;
    background-color: $title;
    width: 8px;
    height: 8px;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #ffef35;
    }
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;

  &__link {
    display: block;
    overflow: hidden;
    position: relative;

    &:hover .collection__info {
      opacity: 1;
    }
  }

  &__img {
    object-fit: cover;
  }

  &__info {
    position: absolute;
    width: 100%;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 10px;
    background-color: rgba(#fff, .7)
  }

  &__title {
    @extend %title-font;
    font-size: 20px;
    line-height: 1.25;
    color: $title;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      @extend %pseudo;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 200px;
      background-color: #6d7278;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 600;
    color: #707070;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery {

  &__btns {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;
  }

  &__btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
    color: #8f8d8d;
    padding: 5px 18px;
    border-radius: 20px;
    border: 1px solid #454647;
    background-color: transparent;
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;

    &:hover {
      color: $title;
      background-color: #ffef35;
      border-color: #ffef35;
    }

    &.mixitup-control-active {
      color: $title;
      background-color: #ffef35;
      border-color: #ffef35;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__element:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }

  &__link {
    display: block;
    overflow: hidden;
    position: relative;

    &::before {
      @extend %pseudo;
      inset: 0;
      z-index: 3;
      background-color: rgba($title, 0);
      transition: background-color 0.5s ease;
    }

    &:hover::before {
      background-color: rgba($title, .5);
    }

    &:hover .gallery__img {
      transform: scale(1.05);
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
}

.breadcrumbs {
  background-color: rgba(#dfdfdf, .5);
  padding: 15px;

  &__list {
    display: flex;
  }

  &__item:not(:last-child)::after {
    content: '/';
    margin: 0 4px 0 3px;
  }

  &__link {
    font-size: 14px;
    color: $default;
  }
}