html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  // font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.68;
  color: $default;
  overflow-x: hidden;
  position: relative;

  &::before {
    @extend %pseudo;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba($title, .9);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  &.lock {
    overflow-y: hidden;

    &::before {
      z-index: 4;
      opacity: 1;
      visibility: visible;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}