html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.68;
  color: $default;
  overflow-x: hidden;
  position: relative;
  height: auto;

  &::before {
    @extend %pseudo;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba($title, .9);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  &.lock {
    overflow-y: hidden;
    height: 100%;

    &::before {
      z-index: 4;
      opacity: 1;
      visibility: visible;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  @extend %title-font;
  font-size: 36px;
  line-height: 1.4;
  color: $title;
  text-align: center;

  @include mq('tablet-2') {
    font-size: 32px;
  }

  @include mq('middle') {
    font-size: 28px;
  }

  @include mq('phone-2') {
    font-size: 24px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  gap: 30px;

  li.slick-active {
    button {
      background-color: #ffef35;
    }
  }

  button {
    font-size: 0;
    border-radius: 50%;
    background-color: $title;
    width: 8px;
    height: 8px;
    transition: background-color 0.5s ease;
    
    &:hover {
      background-color: #ffef35;
      
      @include mq('tablet-3') {
        background-color: $title;
      }
    }
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;

  @include mq('xl-desktop') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq('tablet-2') {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  @include mq('middle') {
    grid-template-columns: repeat(1, 1fr);
  }

  &__link {
    display: block;
    overflow: hidden;
    position: relative;

    &:hover .collection__info {
      opacity: 1;

      @include mq('tablet-3') {
        opacity: 0;
      }
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__info {
    position: absolute;
    width: 100%;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 10px;
    background-color: rgba(#fff, .7)
  }

  &__title {
    @extend %title-font;
    font-size: 20px;
    line-height: 1.25;
    color: $title;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      @extend %pseudo;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 200px;
      background-color: #6d7278;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 600;
    color: #707070;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery {

  &__btns {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;
    overflow-x: auto;

    @include mq('tablet-3') {
      justify-content: start;
    }

    @include mq('phone-3') {
      gap: 15px;
      margin-bottom: 30px;
    }
  }

  &__btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
    white-space: nowrap;
    color: #8f8d8d;
    padding: 5px 18px;
    border-radius: 20px;
    border: 1px solid #454647;
    background-color: transparent;
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;

    &:hover {
      color: $title;
      background-color: #ffef35;
      border-color: #ffef35;
    }

    &.mixitup-control-active {
      color: $title;
      background-color: #ffef35;
      border-color: #ffef35;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include mq('xl-desktop') {
      gap: 15px;
    }

    @include mq('tablet-2') {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }

    @include mq('phone-3') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__element:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }

  &__link {
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;

    &::before {
      @extend %pseudo;
      inset: 0;
      z-index: 3;
      background-color: rgba($title, 0);
      transition: background-color 0.5s ease;
    }

    &:hover::before {
      background-color: rgba($title, .5);
      
      @include mq('tablet-3') {
        background-color: rgba($title, .0);
      }
    }
    
    &:hover .gallery__img {
      transform: scale(1.05);
      
      @include mq('tablet-3') {
        transform: scale(1);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
}

.breadcrumbs {
  background-color: rgba(#dfdfdf, .5);
  padding: 15px;

  &__list {
    display: flex;
    overflow-x: auto;
  }

  &__item {
    padding-right: 10px;
    position: relative;
  }

  &__item:not(:last-child)::after {
    content: '/';
    margin: 0 4px 0 3px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__link {
    font-size: 14px;
    color: $default;
  }
}

.email {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding-left: 30px;
  position: relative;

  &::before {
    @extend %pseudo;
    @extend %bg;
    background-size: auto;
    background-image: url('../images/message-ico.svg');
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.address {
  margin-bottom: 25px;

  &__link {
    font-style: normal;
  }

  .email {
    margin-top: 15px;
  }
}

.social-links {
  display: flex;
  gap: 20px;

  &__img {
    object-fit: cover;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;

  &__prev {
    transform: scale(-1, 1);
  }

  &__item--disabled {
    display: none;
  }

  &__item {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: #707070;
  }

  &__link--active {
    color: $title;
  }
}

@keyframes line-text {
  from {
    transform: translateX(100%);
    transform-origin: left center;
  }

  to {
    transform: translateX(-100%);
    transform-origin: right center;
  }
}