@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// header

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.menu {
  display: flex;
  gap: 0 80px;
  padding: 0 60px 0 35px;

  &__link {
    @extend %title-font;
    line-height: 1.38;
    padding-bottom: 4px;
    position: relative;

    &::before {
      @extend %pseudo;
      width: 0;
      height: 2px;
      border-radius: 1px;
      background-color: #979797;
      bottom: 0;
      left: auto;
      right: 0;
      transition: width 0.5s ease;
    }

    &:hover::before {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}

.logo {
  margin: 0 auto;
}

.rightside-menu {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  max-width: 694px;
  width: 100%;
  padding: 40px 15px 0;
  transform: translateX(0);
  transition: transform 0.5s ease;

  &--close {
    transform: translateX(500%);
  }

  &__close {
    margin: 0 0 60px 35px;
  }

  &__content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 40px;

    img {
      margin: 0 auto;
    }
  }

  &__title {
    display: block;
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 1.41;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;

    &::before {
      @extend %pseudo;
      height: 2px;
      width: 252px;
      background-color: #979797;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__text {
    margin-bottom: 75px;
  }
}

// top

.top {
  &__inner {
    position: relative;

    &::after {
      @extend %pseudo;
      @extend %bg;
      background-image: url('../images/top-bg.jpg');
      height: 722px;
      width: 100%;
      top: 0;
      z-index: -1;
    }
  }

  &__item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 15px;
  }

  &__img {
    margin-left: -238px;
    object-fit: cover;
  }

  &__info {
    max-width: 645px;
  }

  &__title {
    @extend %title-font;
    font-size: 110px;
    line-height: 1.22;
    color: $title;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;

    &::before {
      @extend %pseudo;
      bottom: 0;
      left: 0;
      width: 185px;
      height: 1px;
      background-color: #6d7278;
    }
  }

  &__text {
    max-width: 585px;
  }
}

// new-collection

.new-collection {
  padding: 130px 0 100px;
  text-align: center;

  &__title {
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;

    &::before {
      @extend %pseudo;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #6D7278;
      width: 252px;
      height: 1px;
    }
  }

  &__text {
    max-width: 730px;
    margin: 0 auto 30px;
  }
}

// decor

.decor {
  @extend %bg;
  background-image: url('../images/decor-bg.jpg');

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 616px;
  }

  &__title {
    @extend %title-font;
    font-size: 60px;
    line-height: 1.33;
    color: $title;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      @extend %pseudo;
      background-color: #6d7278;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 1px;
    }
  }

  &__text {
    max-width: 540px;
  }
}

// work-path

.works-path {
  padding: 80px 0 110px;

  &__title {
    margin-bottom: 40px;
  }

  &__box {
    display: flex;
    border-bottom: 1px solid rgba($title, .7);
    position: relative;

    &::before {
      @extend %pseudo;
      bottom: -5px;
      left: 0;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background-color: $title;
    }
  }

  &__item {
    width: 250px;
    position: relative;

    &--consultation,
    &--production {
      padding-bottom: 25px;
    }

    &--production {
      margin-left: 317px;

      &::before {
        bottom: 0;
        left: 0;
      }
    }

    &--measurements::before,
    &--production::before {
      @extend %pseudo;
      background-color: $title;
      width: 1px;
      height: 20px;
    }

    &--measurements {
      margin-left: 306px;
      padding-top: 25px;

      &::before {
        top: 0;
        left: 0;
      }
    }
  }

  &__item-title {
    @extend %title-font;
    line-height: 1.43;
    color: $title;
    padding: 10px 0 10px 52px;
    margin-bottom: 15px;
    position: relative;

    &::before {
      @extend %pseudo;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      @extend %bg;
      width: 42px;
      height: 42px;
    }

    &--consultation::before {
      background-image: url('../images/consultation-ico.svg');
    }

    &--production::before {
      background-image: url('../images/production-ico.svg');
    }

    &--measurements::before {
      background-image: url('../images/measurements-ico.svg');
      background-size: contain;
    }
  }
}

// footer

.footer {

  &__content {
    background-color: #DFDFDF;
  }

  &__inner {
    padding: 60px 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
  }

  &__info {
    max-width: 540px;
    width: 100%;
  }

  &__title {
    @extend %title-font;
    color: $title;
    line-height: 1.43;
    margin-bottom: 15px;
  }

  &__text {
    max-width: 476px;
    color: #5a5a5a;
    margin-bottom: 15px;
  }

  &__info-email {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding-left: 30px;
    margin-bottom: 22px;
    position: relative;

    &::before {
      @extend %pseudo;
      @extend %bg;
      background-size: auto;
      background-image: url('../images/message-ico.svg');
      width: 16px;
      height: 16px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__form {
    display: flex;
    gap: 10px;
  }

  &__input {
    padding: 6px 18px;
    border: 1px solid $title;
    border-radius: 21px;
    max-width: 368px;
    width: 100%;

    &::placeholder {
      color: #a1a1a1;
    }
  }

  &__btn {
    width: 160px;
    padding: 6px 12px;
    color: #fff;
    background-color: $title;
    border-radius: 21px;
  }

  &__list {
    width: 125px;
    margin-right: 90px;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link {
    font-size: 14px;
    font-weight: 600;
    color: #707070;
  }

  &__copy {
    text-align: center;
    color: #a1a1a1;
    background-color: $title;
    padding: 42px 15px;
  }
}

.social {
  width: 125px;

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link {
    font-size: 14px;
    font-weight: 600;
    color: #707070;
    padding-left: 28px;
    position: relative;

    &::before {
      @extend %pseudo;
      @extend %bg;
      width: 16px;
      height: 16px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &--facebook::before {
      background-image: url('../images/facebook.svg');
    }

    &--instagram::before {
      background-image: url('../images/instagram.svg');
    }

    &--pinterest::before {
      background-image: url('../images/pinterest.svg');
    }

    &--whatsapp::before {
      background-image: url('../images/whatsapp.svg');
    }

    &--youtube::before {
      width: 18px;
      height: 12px;
      background-image: url('../images/youtube.svg');
    }
  }
}